:root{
    --azul-oscuro: #0E1728;
    --rojo: #F13C4E;
    --celeste: #4D86C9;
    --azul: #25334C;
    --verde: #4EBD97;
    --verde-claro: #C2E3E8;
    --amarillo: #FFD168;
}

body{
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-grid{
    width: 100%;
    height: 100vh;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "n1 n2 n2"
    "n3 n3 n3"
    "n3 n3 n3"
    "n4 n5 n6"
    "n7 n7 n7"
    ;
}

.HEADER{
    background-color: var(--azul-oscuro);
    grid-area: n1;
}

.MENU{
    background-color: var(--rojo);
    grid-area: n2;
}

.HERO{
    background-color: var(--celeste);
    grid-area: n3;
}

.MAIN{
    background-color: var(--azul);
    grid-area: n4;
}


.EXTRA{
    background-color: var(--verde);
    grid-area: n5;
}

.IMAGE{
    background-color: var(--verde-claro);
    grid-area: n6;
}

.BANNER{
    background-color: var(--amarillo);
    grid-area: n7;
}