@import url('./colors.css');
@import url('./Components/nav.css');
@import url('./Components/hero.css');
@import url('./Components/main.css');
@import url('./Components/footer.css');

body {
    font-family: Arial, sans-serif;
    background-color: var(--blanco);
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.6;

}
