@import url('../colores.css');


.footer-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-info p{
    font-size: var(--rspSize);
    margin: 10px 0;
}
.footer-info a{
    font-size: var(--rspSize);
}

.footer-info a, .footer-redes a{
    color: white;
    text-decoration: none;
}

.footer-redes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-redes img {
    width: 24px;
    height: 24px;
}

.footer-copy {
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.8;
}