@import url('../colores.css');

.seleccion{
    padding-top: 20px;
    max-width: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-seleccion{
    
    width: 80%;
}

.imagen-seleccion{
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 2px auto;
    padding-bottom: 5px;
    text-align: center;
}

