@import url('../colores.css');

.barra-de-navegacion{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
    background-color: var(--semi-blanco);
    position: sticky;
    top: 0px;
    z-index: 1;
    
}

.lista-de-seleccion{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    list-style: none;
    width: 80%;
    margin: 0px;
    padding: 0px;
}

.lista-de-seleccion li{
    display: flex;
    flex-direction: column;
    padding: 2px;    
}

.lista-de-seleccion li:hover{
    border-radius: 5px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.304) ,
                -10px -10px 10px rgba(255, 255, 255, 0.5)  ;
}

.lista-de-seleccion a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: clamp(15px, 1.5vw, 25px);
    color: var(--azulado-gris);
    min-height: 100px;
    height: 100%;
}

.icono-seleccion{
    min-width: 40px;
    width: 60%;
}

.hamburgesa{
    display: none;
    
}

.hamburgesa::before{
    content: '';
    position: absolute;
    color: black;
    left: 700%; 
    width: 450px;
}