@import url('../colors.css');

footer{
    border-top: 5px solid var(--verde-lima);;
    background-color: var(--gris-oscuro);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-seleccion{
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    margin-right: 220px;
}

.footer-seleccion h3{
    width: 120px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1) inset,
    -1px -1px 1px rgba(255, 255, 255, 0.1) inset,
    1px 1px 1px rgba(1, 1, 1, 0.4),
    -1px -1px 1px rgba(1, 1, 1, 0.4);
    font-weight: 400;
}

.footer-seleccion span{
    margin-left: 20px;
}

.footer-seleccion ul{
    list-style: none;
    margin: 0px;
    padding-left: 25px;
    padding-top: 0px;
    color: var(--gris-claro);
}

footer p{
    margin-left: 220px;
    color: var(--gris-claro);
}