@import url("../colors.css");

.hero {
  background-color: var(--gris-semi-oscuro);
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.hero::before {
    content: "";
    position: absolute;
    left: 50%; 
    width: 450px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 50%;
    filter: blur(50px);
    transform: translateX(-50%); 
    z-index: 0;
  }

.hero-imagen {
  width: 30%;
  border: 8px solid #ffffff;
  margin-right: 40px;
  margin-left: 200px;
  object-fit: fill;
  z-index: 1;
}

.hero-texto {
  text-align: start;
  margin-right: 200px;
  z-index: 1;
}

.hero-texto h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 200;
  line-height: 50px;
  z-index: 1;
}

.hero-texto p {
  color: var(--gris-claro);
  margin-bottom: 40px;
  font-size: 20px;
  z-index: 1;
}

.boton {
  background-color: var(--verde-lima);
  padding: 5px 15px;
  color: black;
  font-weight: 800;
  border-radius: 6px;
  box-shadow: 2px 5px 5px rgba(255, 255, 255, 0.349) inset;
}
