@import url('../colores.css');

.eventos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 70%;
    border-spacing: 0 25px;
}

.linea-evento {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.304),
                -10px -10px 10px rgba(255, 255, 255, 0.3);
}

.linea-evento:hover {
    background-color: var(--grisaceo);
}

.imagen-evento{
    text-align: center;
    width: 250px; /* Aumenta el ancho de la celda de imagen */
}

.imagen-evento img {
    max-width: 250px;
    max-height: 150px;
    width: 100%;
    height: 100%; 
    object-fit: fill; /* Recorta la imagen si es necesario */
    padding: 10px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
}

.contenido-evento {
    padding: 10px;
}

.contenido-evento p {
    font-size: var(--rspSize);
}

.fecha {
    font-size: 15px;
    font-weight: 600;
}

.boton-evento {
    text-align: center;
    width: 15%;
    background-color: var(--gris-azulado);
}

.boton-evento .boton-mas-info {
    background-color: var(--azul-claro);
    letter-spacing: 1px;
}

.boton-evento .boton-mas-info:hover {
    background-color: var(--semi-blanco);
    color: var(--azul-oscuro);
    text-decoration: none;
}

/* Media Queries para responsive */
@media (max-width: 800px) {

    .table{
        width: 90%;
    }
    .linea-evento {
        display: flex; /* Cambiar a flexbox para mejor control en móviles */
        flex-direction: column; /* Organizar en columna */
        align-items: center; /* Centrar contenido */
        margin-bottom: 25px;
    }

    .imagen-evento {
        width: 100%; /* Hacer que la imagen ocupe todo el ancho en móviles */
    }

    .imagen-evento img{
        max-width: 400px;
        max-height: 300px;
    }

    .contenido-evento{
        text-align: start;
    }

    .boton-evento {
        width: 100%; /* Botón ocupa todo el ancho */
    }
}
