@import url('../colores.css');

.evento-elegido{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.304) ,
                -10px -10px 10px rgba(255, 255, 255, 0.3) ;
    padding: 30px;
    margin-top: 40px;
}

.evento-datos h1{
    margin: 20px 0px;
}

.evento-elegido img{
    width: 100%;
    object-fit: cover;
}

.evento-datos p{
    font-size: var(--rspSize);
}

.formulario-evento{
    margin: 30px;
    max-width: 400px;
    width: 100%;
    background-color: var(--azul-claro);
    padding: 10px;
    color: var(--semi-blanco);
    text-align: center;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.304) inset,
    -10px -10px 10px rgba(255, 255, 255, 0.3) ;
}

.formulario-evento p{
    font-size: var(--rspSize);
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario input{
    max-width: 300px;
    width: 100%;
    padding: 5px;
    margin: 30px;
}

.boton-registrarse{
    background-color: var(--azul-oscuro);
    color: var(--semi-blanco);
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    display: inline-block; 
}

.boton-registrarse:hover{
    background-color: var(--semi-blanco);
    color: var(--azul-oscuro);
    font-weight: 400;
}

@media (max-width: 700px) {
    .evento-elegido{
        width: 75%;
    }

    .formulario input{
        max-width: 150px;
        width: 100%;
        margin: 10px;
    }
}