@import url('../colores.css');

.titulo-nosotros{
    text-align: center;
}

.subtitulo-nosotros{
    margin: 0px;
}

.nosotros{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.nosotros-contenido{
    width: 50%;
    background-color: var(--grisaceo);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.304),
                -10px -10px 10px rgba(255, 255, 255, 0.3);
    padding: 20px 50px 20px 50px; /*Arriba, Derecha, Abajo, Izquierda*/
}

.articulo-nosotros p{
    font-size: var(--rspSize);
    line-height: 1.6;
    margin-top: 5px;
}

.articulo-nosotros ul{
    font-size: var(--rspSize);
    line-height: 1.6;
}

.articulo-nosotros img{
    max-width: 600px;
    max-height: 400px;
    width: 100%;
    margin: 20px 0px
}
