@import url('../colores.css');

.noticias{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#contenedor-noticias{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    height: 100%;
}

.noticia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 800px;
    padding: 20px;
    margin: 20px;
    background-color: var(--semi-blanco);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.304) ,
                -10px -10px 10px rgba(255, 255, 255, 0.3) ;
}

.titulo-noticia{
    display: flex;
    align-items: center;
    background-color: var(--gris-azulado);
    border-radius: 5px;
}

.titulo-noticia h2{
    color: var(--semi-blanco);
}

.titulo-noticia img{
    max-width: 30px;
    width: auto;
    padding: 0px 20px;
}

.contenido-noticia{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
    object-fit: fill;
}

.texto-noticia{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 50%;
    margin-right: 50px;
    margin-left: 20px;
    font-size: var(--rspSize);
}

.barra-decorativa {
    width: min(400px , 50%);
    height: 8px;
    background: linear-gradient(to right, var(--azul-oscuro), var(--azul-claro));
    border-radius: 5px;
}

.boton-mas-info{
    background-color: var(--azul-oscuro);
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: clamp(11px ,1.5vw, 13px);
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.contenedor-imagen-noticia{
   margin: 10px;
   object-fit: fill;
}

.contenedor-imagen-noticia img{
    max-width: 400px;
    max-height: 200px;
    width: 100%;
    
}

/* RESPONSIVE NOTICIA*/

@media (max-width: 600px) {
    .contenido-noticia{
        flex-direction: column;
    }

    .texto-noticia{
        width: 90%;
        align-items: start;
    }

    .contenedor-imagen-noticia img{
        max-width: 800px;
        width: 100%;
    }
    
}
