
@import url('./Componentes/nav.css');
@import url('./colores.css');
@import url('./Componentes/hero-seleccion.css');
@import url('./Componentes/lista-navegacion.css');
@import url('./Paginas/Nostros.css');

body{
    font-family: Arial, sans-serif;  
    margin: 0; 
    padding: 0; 
    background-color: var(--semi-blanco); 
    color: #333; 
    width: 100%; 
    min-height: 100vh;
   
}


/*--------------------BARRA DE NAVEGACION------------------*/

a{
    color: var(--semi-blanco);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease;
}

a:hover{
    text-decoration: underline;
}

/*--------------------SELECCION DE SITIO------------------*/


/*-----------------NOSOTROS--------------*/


