
@import url('./colores.css');
@import url('./Componentes/hero-seleccion.css');
@import url('./Componentes/lista-navegacion.css');
@import url('./Paginas/Nostros.css');
@import url('./Componentes/footer.css');
@import url('./Paginas/Noticias.css');
@import url('./Paginas/Eventos.css');
@import url('./Paginas/Evento-elegido.css');
@import url('./Paginas/Galeria.css');

body{
    font-family: Arial, sans-serif;  
    background-color: var(--semi-blanco); 
    color: #333; 
    width: 100%; 
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
   
}

/*--------------------BARRA DE NAVEGACION------------------*/

a{
    color: var(--semi-blanco);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-size: 40px;
    color: var(--azul-claro);
    text-align: start;
    margin-top: 5px;
}


